/* Please don't look in here, it's embarrassing */

@font-face {
    font-family: "Courier Dan";
    src: local("Courier");
    font-stretch: extra-condensed;
    font-weight: bold;
}

body {
	margin: 0;
	font-family: "Chicago", "Krungthep", "Courier Dan", "Courier", "monospace", sans-serif;
	overflow: hidden;
    background-image:
      linear-gradient(45deg, #000 25%, transparent 25%),
      linear-gradient(-45deg, #000 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #000 75%),
      linear-gradient(-45deg, transparent 75%, #000 75%);
    background-size:2px 2px;

    background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
}

@media(max-width: 800px) {
    .title {
        min-width: 400px;
    }
}

@media(min-width: 801px) {
    .title {
        min-width: 600px;
    }
}

.title {
    padding: 5px 3px 3px 3px;
    background-image:
      linear-gradient(#000 50%, transparent 50%);
    background-size: 4px 4px;
    border-bottom: 2px solid black;
    background-position: 0 1px;
    background-clip: content-box;
    min-height: 28px;
}

.name {
    font-size: 22px;
    background-color: white;
    padding: 0 0.4em 0.1em 0.4em;
}

.close {
    position: absolute;
    width: 22px;
    left: 0;
    height: 22px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid black;
    outline: 3px solid white;
}

.start {
	z-index: 100;
	position: fixed;
	top: 50%;
	text-align: center;
	background: white;
    border: 2px solid black;
}

.contact {
	padding: 10px 0 10px 0;
}

.button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	font-size: 10px;
	text-align: center;
	background: white;
	z-index: 10;
	opacity: 0.92;
}

.email {
    margin-top: 10px;
}

.button-wrapper {
    margin-top: 20px;
}

.centre {
	margin-right:-50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a:link, :visited
{
	color: #555555;
	text-decoration: none;
}
